canvas { border: 3px solid black; }

#myCanvas {
  background-color:rgb(0, 0, 0);
}

.text-style {
  border: 0px;
  float: left;
  position: absolute;
  font: 28px orbitron;
  word-break: break-all;
  background-color: transparent;
  resize: none;
  z-index: 1;
}